<div class="container mar-top-2">
  <% @grades.each_with_index do |grade, i| %>
    <% if i % 4 == 0 %>
      <div class="row">
    <% end %>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <a style="text-decoration: none;" href=<%= "/grades/#{grade.id}" %>>
          <div class="big-button">
            <h3><%= "Stufe #{grade.grade}" %></h3>
          </div>
        </a>
      </div>
    <% if i % 4 == 3 %>
      </div>
    <% end %>
  <% end %>
</div>


<% if user_signed_in? %>
  <% if current_user.admin %>
    <p><%= link_to "Neue Stufe", new_grade_path %></p>
  <% end %>
<% end %>
