<div class="container mar-top-2">
  <h1>Stufen</h1>
  <div class="grade-list main-list mar-top-2">
    <% @grades.each do |grade| %>
      <%= render 'shared/grade-card', grade: grade %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.admin %>
    <p><%= link_to "Neue Stufe", new_grade_path %></p>
  <% end %>
<% end %>
