/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #main-container {
    margin: 0 .5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #main-container {
    margin: 0 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #main-container {
    margin: 0 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #main-container {
    margin: 0 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #main-container {
    margin: 0 4rem;
  }
}
