<% if(hover) %>
  <div class="rating-card main-card card-hover-green" data-toggle="tooltip" data-placement="top" title="Bewertung ändern">
<% else %>
  <div class="rating-card main-card">
<% end %>
  <%= render 'shared/teacher-rating', rating: rating.rating %>
  <% if show_teacher %>
    <h5 class="mar-top-half"><%= rating.teacher.name %></h5>
    <% if rating.incognito %>
      <i class="fas fa-user-secret incognito-icon" data-toggle="tooltip" data-placement="top" title="Du hast diesen Lehrer anonym bewertet. Niemand kann deinen Namen sehen"></i>
    <% end %>
  <% else %>
    <h5 class="mar-top-half"><%= rating.user.full_name.strip() == '' || rating.incognito ? 'Anonym' : rating.user.full_name %></h5>
  <% end %>
  <p><%= rating.comment %></p>
</div>
