.teacher-list {

  .teacher-card {

  }
}

.grade-list {

  .grade-card {

  }
}

.rating-list {

  .rating-card {
    padding: .7rem;
    position: relative;

    .incognito-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      cursor: help;
    }
  }
}

.subject-card-list {

  .subject-card {
    height: 150px;
  }
}

.exam-list {

  .exam-card {
    height: 250px;

    .exam-preview {
      height: 50%;
      padding-top: 10px;
    }
  }
}

.main-list{
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
}

.main-card {
  color: $dark-gray;
  background: white;
  text-align: center;
  text-decoration: none;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  border: 1px solid $dark-gray;
  border-radius: 7px;
  box-shadow: 3px 3px 5px $hover-gray;
}

.card-hover-green {
  &:hover {
    text-decoration: none;
    color: $main-green;
    box-shadow: 1px 1px 3px $hover-gray;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .exam-list {
    grid-template-columns: 1fr;
  }
  .subject-card-list, .teacher-list, .rating-list, .grade-list {
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .exam-list {
    grid-template-columns: 1fr;
  }
  .subject-card-list, .teacher-list, .rating-list, .grade-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .exam-list {
    grid-template-columns: 1fr 1fr;
  }
  .subject-card-list, .teacher-list, .rating-list, .grade-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .exam-list {
    grid-template-columns: 1fr 1fr;
  }
  .subject-card-list, .teacher-list, .rating-list, .grade-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .exam-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subject-card-list, .teacher-list, .rating-list, .grade-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

