.filter-options {
  border-bottom: 1px solid $dark-gray;
}

.custom-width-70 {
  flex-grow: 1 !important;

  input {
    flex-grow: 1 !important;
  }
}

.input-field {
  position: relative;
  border-bottom: 2px dashed $dark-gray;
  margin: 4rem auto 1rem;
  font-size: 1.25rem;

  label {
    color: $dark-gray;
    z-index: -1;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
  }

  input {
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: black;

    &:valid {
      color: $main-green;
    }

    &:invalid {
      color: $red;
    }

    &:not(:placeholder-shown) + label {
      transform: scale(0.8) translateY(-5rem);
    }
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: $main-green;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 2px;
  }

  &:focus-within {
    border-color: transparent;

    &::after {
      transform: scaleX(1);
    }

    label {
      transform: scale(0.8) translateY(-5rem);
    }

  }
}


.form-inputs-inline {
  display: flex;
  justify-content: space-between;
}

.input-inline {
  width: 45% !important;
  margin: 0;
}

.form-links {
  border-top: 1px solid $hover-gray;
}


.form-error-message {
  color: red;
  font-size: 1rem;
}

.toggle-password {
  position: absolute;
  cursor: help;
  right: 1rem;
  bottom: .3rem;
}


@media only screen and (max-width: 600px) {
  .input-field, .form-inputs-inline, .form-error-message {
    width: 80vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .input-field, .form-inputs-inline, .form-error-message {
    width: 70vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .input-field, .form-inputs-inline, .form-error-message {
    width: 60vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .input-field, .form-inputs-inline, .form-error-message {
    width: 50vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .input-field, .form-inputs-inline, .form-error-message {
    width: 40vw;
  }
}

