.inline-link {
  color: $main-green;

  &:hover {
    color: $hover-green;
  }
}

.link-no-decoration {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.link-list {
  padding: 0;
  list-style: none;
  line-height: 2rem;
}
