.mar-top-half {
  margin-top: .5em;
}

.mar-top-1 {
  margin-top: 1em;
}

.mar-top-2 {
  margin-top: 2em;
}

.mar-bottom-half {
  margin-bottom: .5em;
}

.mar-bottom-1 {
  margin-bottom: 1em;
}

.mar-bottom-2 {
  margin-bottom: 2em;
}

.mar-left-half {
  margin-left: .5em;
}

.mar-left-1 {
  margin-left: 1em;
}

.mar-left-2 {
  margin-left: 2em;
}

.mar-right-half {
  margin-right: .5em;
}

.mar-right-1 {
  margin-right: 1em;
}

.mar-right-2 {
  margin-right: 2em;
}

.pad-top-half {
  padding-top: .5em;
}

.pad-top-1 {
  padding-top: 1em;
}

.pad-top-2 {
  padding-top: 2em;
}

.pad-bottom-half {
  padding-bottom: .5em;
}

.pad-bottom-1 {
  padding-bottom: 1em;
}

.pad-bottom-2 {
  padding-bottom: 2em;
}

.pad-left-half {
  padding-left: .5em;
}

.pad-left-1 {
  padding-left: 1em;
}

.pad-left-2 {
  padding-left: 2em;
}

.pad-right-half {
  padding-right: .5em;
}

.pad-right-1 {
  padding-right: 1em;
}

.pad-right-2 {
  padding-right: 2em;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
