<style>
  body {
    background: #EEE;
    padding: 1rem 2rem;
    font-family: sans-serif;
  }

  .color-green {
    color: #1DDD88;
  }

  .button {
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: background .3s, color .5s;
    cursor: pointer;
    text-decoration: none;
  }

  .button-sign-in {
    background: #1DDD88;
    color: white;
  }

  .mar-top-bottom-2 {
    margin: 2rem 0;
  }

  .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
</style>

<h2>Hallo <%= @resource.first_name %>!</h2>

<p>Du hast dein Passwort vergessen? Kein Problem. Hier kannst du es 채ndern:</p>
<div class="center-content">
  <%= link_to 'Passwort 채ndern', edit_password_url(@resource, reset_password_token: @token), class: 'button button-sign-in mar-top-bottom-2' %>
</div>

<p>Falls du dein Passwort nicht 채ndern wolltest, kannst du diese Mail ignorieren.</p>
<p>Dein Passwort wird nur ge채ndert, wenn du auf den Link klickst und ein neues Passwort eingibst.</p>
