.exam-subheader-link {
  color: $dark-gray;
  text-decoration: none;

  &:hover {
    color: $main-green;
    text-decoration: none;
  }
}

.exam-header {
  color: $dark-gray;
}

#exam-pdf-reader {
  width: 100%;
  height: 80%;
  border: none;
}

.exam-show-content {
  height: 90vh;
}

.exam-download-link {
  a{
    color: $main-green;
  }
}
